{% extends "base.twig" %}

{% block navigation %}
<li><a href="?site=welcome">Welcome</a></li>
<li class="active"><a href="?site=about">About me</a></li>
<li><a href="?site=skills">Skills</a></li>
<li><a href="?site=benefits">Benefits</a></li>
<li><a href="?site=contact">Contact</a></li>
<li><a href="?site=bug">Bug bounty</a></li>
<li><a href="?site=news">News</a></li>
{% endblock %}

{% block content %}
Dear Sirs or Mesdames,

my name is Arthur Elite. I am a high qualified cyber security expert / Elite Hacker from Emmen (Netherlands). I life in berlin, since 2009. I work as an elite Hacker (white hat) / Cyber-Security Expert / Penetrationtester.<br />
<br />
<img src="images/img002_grey.jpg" />
<br />
About my person:<br />
<br />
15 years in Hacking / IT Security / Network Security / Freelance in Security / Consulting / software development / Scripting, bachelor degree in software development. Hacking / Penetrationtesting / Network and IT-Security / networkadministration / software development / Datenbanksysteme / hosting technologies / website development / Networktechnologies (LAN, WAN, WLAN, Switches, Routers, network protocols, firewalls, designing VPN-Networks) SonicWALL, Cisco, protection mechanics RSA / IDS. Windows-Security / database security / cryptography / Data Encryption / Bugs finding and fixing / remote-access / Social Engineering / etc.<br />
<br />
Please don't hesitate to contact me for any questions<br />
<br />
Yours sincerely,<br />
Arthur Elite

{% endblock %}
