{% extends "base.twig" %}

{% block navigation %}
<li><a href="?site=welcome">Welcome</a></li>
<li><a href="?site=about">About me</a></li>
<li><a href="?site=skills">Skills</a></li>
<li><a href="?site=benefits">Benefits</a></li>
<li><a href="?site=contact">Contact</a></li>
<li><a href="?site=bug">Bug bounty</a></li>
<li><a href="?site=news">News</a></li>
{% endblock %}

{% block content %}
<div class="span12">
	<strong>An error occured:</strong><br />
	{{ error|raw }}
</div>
{% endblock %}
