{% extends "base.twig" %}

{% block navigation %}
<li class="active"><a href="?site=welcome">Welcome</a></li>
<li><a href="?site=about">About me</a></li>
<li><a href="?site=skills">Skills</a></li>
<li><a href="?site=benefits">Benefits</a></li>
<li><a href="?site=contact">Contact</a></li>
<li><a href="?site=bug">Bug bounty</a></li>
<li><a href="?site=news">News</a></li>
{% endblock %}

{% block content %}
<p> 
	Welcome on my website!<br />
	<br />
	I am an elite Hacker / Cyber Security Expert / 31337. Here you find all information about me and my IT-Security benefits.<br />
	<br />
	<img src="images/img001_grey.jpg" />
</p>
{% endblock %}
